
.InfoBox {
  display: flex;
  flex-direction: column;
}

.InfoBox > p,a {
  font-size: 0.75rem;
}

.Icon > svg {
  margin-right : 5px;
}

a {
  text-decoration: none;
  color : #000
}

a:hover {
  font-weight: 600;
}


.footer-logo {
  width: 100px;
  height: 100px;
}

.copyRight {
  font-size : 0.85rem;
}

@media screen and (max-width: 680px)  {

  .MobileFooterContainer {
    flex-direction: column!important;
  }

  .MobileFooter {
    align-items: baseline;
    width: 100%;
  }

  .footer-logo {
    display: none;
  }  

  .MobileCopyRight {
    flex-direction: column-reverse!important;
  }

  .Icon > svg{
    width:20px;
    height:20px;
  }


}
