
.footer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap : 10px;
  /* justify-content: center;
  align-items: center; */
  color: #000;
  width: 100%;
  background-color : '#F2F2F2',
}

.footerBox {
  display:flex;
}


.InfoBox {
  font-size : 0.9rem;
  display: flex;
  flex-direction: column;
}

.InfoBox > p,a {
  font-size: 0.85rem;
}

.IconBox {
  flex-direction: row;
}

.IconBox > svg {
  margin-right : 5px;
}

a {
  text-decoration: none;
  color : #000
}

a:hover {
  font-weight: 600;
}


.footer-logo {
  width: 100px;
  height: 100px;
}

@media (max-width: 768px)  {
  .Mobilefooter{
    flex-direction: column!important;
    align-items: center!important;
  }

  .footerBox {
    width: 100%;
    justify-content: space-around;
  }

  .MobileIcon {
    text-align: center;
  }
}