
.footer{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap : 10px;
  /* justify-content: center;
  align-items: center; */
  color: #000;
  width: 100%;
  background-color : '#F2F2F2',
}


.InfoBox {
  font-size : 0.9rem;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}

.InfoBox > p,a {
  font-size: 0.85rem;
}

.IconBox {
  flex-direction: row;
}

.IconBox > svg {
  margin-right : 5px;
}

a {
  text-decoration: none;
  color : #000
}

.address {

}

.footer-logo {
  width: 100px;
  height: 100px;
}