* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
}

header{
  background-color: #3b2479;
  width: 100%;
  height: 10vh;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.8),0px 0px 5px rgba(200,200,200,0.5); 
}

.logo{
  background-color: #3b2479;
  float: left;
  margin-left: 3vw;
  margin-top: 2vh;
  font-size: 2rem;
  color: white;
}

.login{
  float: right;
  margin-top: 12px;
  background-color: #3b2479;
  color: #ffffff;
  border: 0;
  outline: 0;
  font-size: 1rem;
}

.profile{
  background-color: #3b2479;
  float: right;
  position: relative;
  font-size: 1rem;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 70%;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.8),0px 0px 5px rgba(200,200,200,0.5); 
}

.profileicon{
  position: absolute;
  width: 50px;
  object-fit: cover;
}

.dropdown{
  position: absolute;
  float: right;
  top: 10vh;
  right: 0;
  width: 200px;
  height: 130px;
  box-shadow: 0px 0px 10px #000000cc,0px 0px 5px rgba(200,200,200,0.5); 
  z-index: 5;
}

.loginProfile{
  position: relative;
  background: rgba(255, 255, 255, 0);
  float: right;
  margin-right: 5vw;
  margin-top: 2vh;
  font-size: 1rem;
  width: 20vw;
  height: 9vh;
}

.logout{
  width: 100%;
  height: 30%;
  border: 0;
  outline: 0;
  background: #3b2479;
  color: white;
}

.name{
  width: 100%;
  height: 25%;
  padding: 5px;
}

.token{
  width: 100%;
  height: 45%;
  border-top: 1px solid #3b2479;
  padding: 5px;
}

.links{
  margin-top: 12px;
  float: left;
  background-color: #3b2479;
  color: #ffffff;
  border: 0;
  outline: 0;
  font-size: 1rem;
}

.loginModal {
  width: 20vw;
  border:0;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.google{
  width: 20vw;
  min-width: 120px;
  object-fit: cover;
  margin-bottom: 10px; 
}

.facebook{
  width: 20vw;
  min-width: 120px;
  object-fit: cover; 
  margin-bottom: 10px;
}

@media (max-width: 700px) {
  header{
    background-color: #3b2479;
    width: 100%;
    height: 12vh;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8),0px 0px 5px rgba(200,200,200,0.5); 
  }

  .profile{
    background-color: #3b2479;
    float: right;
    position: relative;
    font-size: 1rem;
    width: 45px;
    height: 45px;
    background: white;
    border-radius: 70%;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.8),0px 0px 5px rgba(200,200,200,0.5); 
  }

  .profileicon{
    position: absolute;
    width: 45px;
    object-fit: cover;
  }

  .dropdown{
    position: absolute;
    float: right;
    right: 3vw;
    top: 10vh;
    width: 200px;
    height: 130px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8),0px 0px 5px rgba(200,200,200,0.5); 
    z-index: 5;
  }

  .logo{
    background-color: #3b2479;
    float: left;
    margin-left: 5vw;
    margin-top: 3vh;
    font-size: 1.3rem;
    color: white;
  }

  .loginModal {
    outline: 0;
    border:0;
    background-color: white;
  }


  .loginProfile{
    position: relative;
    background: rgba(255, 255, 255, 0);
    float: right;
    margin-right: 5vw;
    font-size: 0.7rem;
    width: 43vw;
    height: 9vh;
  }

  .login{
    float: right;
    margin-top: 25px;
    background-color: #3b2479;
    color: #ffffff;
    border: 0;
    outline: 0;
    font-size: 0.7rem;
  }

  .links{
    font-size: 0.7rem;
    margin-top: 25px;
    float: left;

  }
}