
.mainpage {
  height: 100vh;
  background-color: #f9f9f9;
}


.SiderContainer {
  width: 250px;
}

.SiderBox{
  width: 250px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px 10px 20px;
}


.dropdowncategory{
  border: 0;
  outline: 0;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  margin : 20px 0;
  color : #fff;
  /* background-color : #3b2479; */
  background-color: #3D138D;
  text-align: center;
  cursor: pointer;

  /* select 화살표 없애기 */
  appearance : none ;
  -webkit-appearance : none ;

}

select::-ms-expand {
  display : none ;
}

.sub_input_text{
  padding: 10px;
  width: 200px;
  margin-top: 15px;
  border-radius: 5px;
  resize: none;
  outline: none;
  border:0;
  border-bottom: 1px solid #dedede;
  border-right: 1px solid #dedede;

  background-color: transparent;
}


.create{
  margin-top: 30px;
  font-size: 1rem;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  background-color: #3D138D;
  color: #fff;
  border: 0;
  cursor: pointer;
}


.create:hover {
  background-color: #7D4CDB;
  color: #f3f3f3;
  
}

.outputContainer{
  width:100%;
  display: flex;
  justify-content: space-around;
}


.output, .output_right{
  border-radius: 10px;
  height: 50vh;
  resize: none;
  border:0;
  outline: none;
  width: 45%;
   background-color: #f9f9f9;
  /*box-shadow: 2px 3px 8px #DaDaDa; */
  background-color: #ffff;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 25%);
  padding: 15px;
  font-size : 1.3rem;
}

.ButtonDiv {
  display: flex;
  padding: 20px 10px 0;
  width: 25%;
  justify-content: space-evenly;
}

.ButtonDiv > svg {
    cursor: pointer;
}

.copyStyle {
  background-color:#7D4CDB;
  color:#fff;
  padding: 0 5px;
  border-radius : 5px;
  font-size: 0.9em;
}


.iconDetail{
  /* position: absolute;
  width: 30px;
  object-fit: cover;   */
}



.middleTitle{
  /* position: relative;
  margin-bottom: 2vh;
  margin-top: 3vh; */
}

.middleTitle > span{
  font-size: 2rem;
}


.followSelector{
  width: 55%;
  height: 5vh;
  border: 0;
  outline: 0;
  border-radius: 1vh;
}

.resetDiv{
  display: flex;
}


.next{
  position: absolute;
  left: 88%;
  font-size: 1rem;
  width: 5vw;
  height: 5vh;
  bottom: 10vh;
  background: #3b2479;
  color: rgb(8, 8, 8);
  border-radius: 0.5vh;
  border: 0;
}

.next_text{
  padding: 1vw;
  width: 95%;
  height: 5vh;
  border-radius: 1vh;
  resize: none;
  outline: none;
  border: 0;
}

.next_input{
  position: absolute;
  bottom: 10vh;
  width: 90%;

}

.next_input > span{
  font-size: 1.2rem;
}

.react-slideshow-container{
  margin: 0;
  width: 100%;
}
.each-slide{
  height: 30vh;
}



@media (max-width: 768px) {


  .SiderBox {
    width: 100%;
  }

  .MainBox {
    overflow:hidden;
  }

  .outputContainer {
    flex-direction: column;
    align-items: center;
    height: 70vh;
    overflow: hidden;
  }

  .output, .output_right {
    width: 70%;
  }

  .output {
    margin-bottom : 15px;
  }

  .ButtonDiv {
    width: 50%;
  }

/* 
  .loading{
    position: absolute;
    z-index: 5;
    left: 19vw;
    top: 20vh;
  }

  .next_input > span{
    font-size: 0.7rem;
  }
  
  .next{
    position: absolute;
    left: 88%;
    font-size: 1rem;
    width: 9vw;
    height: 5vh;
    bottom: 11vh;
    background: #3b2479;
    color: white;
    border-radius: 0.5vh;
    border: 0;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.8) ,0px 0px 3px rgba(200,200,200,0.5); 
    font-size: 0.7rem;
  }

  .next_input{
    position: absolute;
    bottom: 11vh;
    width: 90%;
  }

  .react-slideshow-container{
    margin-right: 0;
    width: 80vw;
  }

  .resetDiv{
    width: 100%;
    height: 10vh;
    margin-left: 2vw;
  }

  .dropdowncategory{
    width: 50%;
    height: 5vh;
    left: 0;
    bottom: 10px;
    position: absolute;
    border: 0;
    outline: 0;
    border-radius: 1vh; */
    /* box-shadow: 0px 0px 10px rgba(0,0,0,0.8) ,0px 0px 5px rgba(200,200,200,0.5);  */
  /* }

  .followSelector{
    width: 55%;
    height: 5vh;
    right: 0;
    top: 5.2vh;
    position: absolute;
    border: 0;
    outline: 0;
    border-radius: 1vh;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8) ,0px 0px 5px rgba(200,200,200,0.5); 
  } */
}